.bg-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-styling{
    border-radius: 20px;
    margin-right: 6px;
    height:50px;
    width:60px;
} 

.bg-nav-styling{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-size:cover;
}

.search-input{
    width:60vw;
    height:40px;
    align-self: center;
    background-size: cover;
    margin-left:15px;
    margin-right:10px;
} 

.songs-container{
    display: flex; 
    align-items: center;
    margin-left:20px;
} 

.search-btn{
    height:40px;
    width:100px;
    align-self: center;
    text-align: center;
}

@media screen and (max-width:764px){

    .bg-nav-styling{
        width:100vw;
    }
    
    

    
    
}